[Unit]
Description=Userspace driver for Kinesis Freestyle 2 Keyboard
After=dev-systemd-user-sessions.service

[Service]
Type=simple
Restart=no
TimeoutSec=1
Group=<<<GROUP>>>
User=<<<GROUP>>>
ExecStart=<<<PREFIX>>>/kfreestyle2d/sort-and-run.sh
